
/**************INDEX FILE CSS*****************/

/*******mini header or first header css*********/
.first-header
{
	background-color: #43aca7;
	font-size: 0.9rem;
}

.miniheader-email
{
	float:right;
}

@media screen and (max-width: 600px) {
 .miniheader-email
{
    float: none;
}
}


/******* header css*********/
.header
{
	background-color: #f2f4f7;
}

.menu
{
	color:rgba(0,0,0,0.6);
}

@media screen and (max-width: 600px) {
 .menu
{
    margin-left: -15px;
}

.menu div
{
	font-size: 11px;
}

}



.img
{
	margin-left: 0px;
}


.menu-option
{
	color:black;
}

.menu
{
	margin-left: 24rem;
}


@media screen and (max-width: 1000px) {
 .menu
{
	margin-left: 1rem;
}
}


@media screen and (min-width:1000px ) and (max-width: 1200px) {
 .menu
{
	margin-left: 9rem;
}
}

.title-heading
{
	    font-family: abril-fatface;
    font-weight: bolder;
    font-size: 2rem;
}








/******* FIRST DIV css*********/

.background
{
	background-image: url('images/index_banner.jpg');
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}


.first-div-heading
{
	color: #000000; font-weight: bold;margin-right:3rem;
}

@media screen and (max-width: 600px) {
.first-div-heading
{
	color: #000000; font-weight: bold;
	font-size: 20px;
	margin-right:0;
}
}


@media screen and (max-width: 1000px) {
 .first-div-row
{
	display:none;
}

}


.card-body
{
	padding: 2.8125em 0.3125em 2.8125em 0.3125em;
}


.card
{ 
	width: 12rem;
	text-align: center;
	box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
	backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.2);
	
}

.card-title
{
	font-weight: bold;
}






/*************OUR EXPERTISE CSS*****************/


.carousel-inner .card-title 
{
	text-align: start;
}

.carousel-inner .card-text
{
	color:black;font-size: 10px;text-align:start;
}


.our-expertise
{
	height: 656px;
}

@media screen and (max-width: 600px) {
 .our-expertise
{
	height: 851px;
}
}

.our-expertise-heading
{
	color: #43aca7;font-size: 1.7rem;font-weight:700;
}




/***********SLIDER DIV CSS**************/


@media screen and (max-width: 600px) {
 .carouselslider
{
    margin-top: 587px;
}
}


@media screen and (min-width: 600px) and (max-width: 1000px) {
 .carouselslider
{
    margin-top: 337px;
}
}

@media screen and (min-width: 588px) and (max-width: 768px) {
 .carouselslider
{
    margin-top: 720px;
}
}



 .carousel-row
{
   padding: 1px 157px;
}
  
 .carousel-row-first-col
 {
 	padding: 11px 20px;
 } 

 .carousel-row-second-col
 {
 	width: 523px;padding:95px;text-align: start;
 }


 .slider-img
 {
 	border-radius: 25px; padding: 44px;
 }


 .slider-mobile
 {
 	display: none;
 }



@media screen and (max-width: 600px) {
 .carousel-row
{
   padding: 69px;
}
  
 .carousel-row-first-col
 {
 	padding: 0px 0px;
 } 

 .carousel-row-second-col
 {
 	margin-top: -50px;
 	width: 0px;padding:95px;text-align: start;
 }



}



@media screen and (max-width: 1292px) {

 .slider-img
 {
 	display: none;
 }

  .slider-mobile
 {
 	display: block;
 }

 .slider-desktop
 {
 	display: none;
 }

}


/**********OUR CUSTOMER CSS**********/

.our-customer-p
{
	font-size: 14px;color: black; padding: 3px 141px;
}


.our-customer-lower-heading strong
{
	font-size: 14px;color: black;
}


.our-customer-lower-heading p
{
	font-size:12px;font-weight: 600;
	color: #43aca7;
}


@media screen and (max-width: 600px) {

.our-customer-p
{
	font-size: 14px;color: black;padding: 0px;
}

}







/*********FOOTER********/


.handyman-p
{
	font-size: 14px;font-weight: 400
}

.handyman-contact
{
	font-size: 14px;font-weight: 400
}

.handyman-contact span
{
	font-size: 14px;font-weight: 400;
	color:#fbac29;
}



.links
{
	font-size: 14px;
	color: white;
	font-weight: 400;
	text-align: start;
	    text-decoration: none;
    color: inherit;
}

.who-we-are h4,.who-we-are span
{
	padding-left: 7rem
}


@media screen and (max-width: 600px) {

.who-we-are h4,.who-we-are span,.who-we-are div
{
	padding-left: 0;
}


}















/**************ABOUT US PAGE CSS******************/


/********FIRST INTRO CSS********/

.first-intro-heading
{
	font-size:2rem;
}

.first-intro-heading .span
{
	color:#43aca7;
}

.first-intro-para
{
	line-height: 1.4rem;
	font-weight: 300;
	font-size: 0.9rem;
	word-break: break-word;
	padding: 1rem 3rem;
	text-align:justify;
}


@media screen and (max-width: 600px) {

.first-intro-para
{
	text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;

}

}




/********PERSON DATA*********/

.person-heading
{
	color:#43aca7;
}

.person-heading strong
{
	color: black;font-size:1.2rem;
}


.person-heading p
{
	font-size:0.9rem;text-align:justify;
}


.person-img
{
	border-radius:14rem;
	margin-left:94px;
	 height:300px; width:300px;
}


@media screen and (max-width: 600px) 
{
  .intro-sec
  {
  	margin-top: 39rem;
  }

  .intro-sec-heading
  {
  	margin-top: -64rem;
  }

.person-img
{
	border-radius:14rem;
	margin-left:0%;
	 height:300px; width:300px;
}

}


.tab-view-intro
{
	display: none;
}


@media screen and (min-width: 570px) and (max-width: 800px)
{

  .tab-view-intro
  {
	display: block;
  }

  .desktop-view-intro
  {
	display: none;
  }

}



@media screen and (min-width: 800px) and (max-width: 1000px)
{

  .tab-view-intro
  {
	display: block;
  }

  .desktop-view-intro
  {
	display: none;
  }


  .person-img
  {
  	    border-radius: 14rem;
    margin-top: 94px;
    height: 300px;
    width: 300px;
  }

}








/***********VISION DIV*************/

.vision-heading
{
	color:#black;
}

.vision-heading p
{
	font-size:0.9rem;text-align:justify;
}






/************CLIENT PAGE***************/


/******CLIENT CARD******/



.text 
{
	text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    height: 18rem;
}


.card-padding
{
    padding: 1.25rem;
}



.zoom {
  
  background-color: white;
  transition: transform .2s; /* Animation */
  width: 21rem;
  height: 26rem;
  margin: 0 auto;
  box-shadow: -2px 13px 14px 16px #999;
}

.zoom:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}



/*****************CONTACT PAGE************/



@media screen and (min-width: 570px) and (max-width: 1000px) {

 .map
{
   margin-left: -52px;
}

.address
{
   margin-left: 51px;
}

}